/**/

html {
    box-sizing: border-box;
    font-family: 'Roboto', helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

.app-container {
    display: grid;
    /*3 columns*/
    grid-template-columns: 250px 1fr 1fr;
    /*3 rows*/
    grid-template-rows: 100px 1fr 1fr;
    grid-gap: 5px;
    height: calc(100% - 10px);
    margin: 5px;
}

.nav-container {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #efefef;
    border: 1px solid #585858;
    border-radius: 4px;
    
/*    flex*/
    display: flex;
    align-items: center;
}

.nav-container > div {
    padding: 10px;
}

.nav-container > div > img{
    box-shadow: 2px 6px 8px #888888;
    border-radius: 2px;
}

#spacer{
    flex: 1;
}

#logo-name {
    font-family: 'Anton', sans-serif;
    font-size: 30px
}

#logo {
    height: 80px;
    margin-left: 5px;
}

#logo-name {
    font-family: 'Anton', sans-serif;
}


.map-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid #585858;
    border-radius: 4px;
}


/*

.side-pane-container{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #efefef;
    border: 1px solid #585858;
    border-radius: 4px;
    flex
    display: flex;
    flex-direction: column;
    line-height: 125%;
    overflow: auto;
}

.side-pane-container > div > img{
    box-shadow: 2px 6px 8px #888888;
    border-radius: 2px;
}

.side-pane-container > div {
    text-align: justify;
    align-items: center;
    padding: 10px;
}

#side-pane-title {
    font-size: 1.3em;
    text-align: center;
    font-weight: 700;
}

#map-legend {
    min-height: 45px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
*/




#map{
    height: 100%;
    width: 100%;
}